# Python
__pycache__/
*.py[cod]
*.class

# Virtual environments
.venv/
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Test / cache
.pytest_cache/
.mypy_cache/

# App data
uploads/
app.db

# Docker
*.log

.vercel
